{% extends 'base.html.twig' %}

{% block title %}Prestamo index{% endblock %}

{% block body %}
    <h1>Prestamo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaPrestamo</th>
                <th>FechaDevolucion</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>Relation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.id }}</td>
                <td>{{ prestamo.fechaPrestamo ? prestamo.fechaPrestamo|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prestamo.fechaDevolucion ? prestamo.fechaDevolucion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prestamo.estado }}</td>
                <td>{{ prestamo.observaciones }}</td>
                <td>{{ prestamo.relation }}</td>
                <td>
                    <a href="{{ path('app_prestamo_show', {'id': prestamo.id}) }}">show</a>
                    <a href="{{ path('app_prestamo_edit', {'id': prestamo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prestamo_new') }}">Create new</a>
{% endblock %}
